<header>
  <h1>Project Organizer</h1>
  <h2><span class="logo">[ </span>MY<span class="logo"> ]</span>Projects</h2>
</header>
<hr>
<main>
  <% if (projects.length < 1) { %>
    <h4>Better get coding, I've no projects!</h4>
  <% } %>
    
  <% projects.forEach(function(project) { %>
    <div class="well row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2 class="title-capt">
          <a href="/projects/<%= project.id %>"><%= project.name %></a>
        </h2>
      </div>

      <div class="text-left col-xs-12 col-sm-6 col-md-4">
        <form method="POST" action="/projects/<%= project.id %>?_method=DELETE">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>

    </div>

  <% }); %>
      
</main>